.App {
  background-image: url("/public/manger.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  font-size: calc(10px + 2vmin);
}